<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener Service</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
  .jumbotron {
    padding: 20px 20px;
  }

  .alert {
    margin-top: -30px;
  }
  </style>
</head>

<body>

<div class="jumbotron">
  <h1 class="display-3" >URL Shortening service</h1>
  <p class="lead">A full-stack web app to shorten long URLs.</p>

  <% if (!user_id) { %>
    <a href="/register" role="button" class="btn btn-primary btn-lg form-inline">Register</a>
    <a href="/login" role="button" class="btn btn-primary btn-lg">Login</a>
  <% } %>

  <% if (user_id) { %>
    <form method="POST" action="/users/logout" class="form-inline">
      <a href="/urls" class="btn btn-primary btn-lg" role="button">
        My URLs
      </a>
      <a href="/urls/new" class="btn btn-primary btn-lg form-inline" role="button">
        Add new
      </a>
      <button type="submit" class="btn btn-primary btn-lg form-inline" value="Logout">
        Logout
      </button>
    </form>
    Signed in as <%=users[user_id].email%>
  <% } %>

</div>

<% if (messages) { %>
  <% for (key in messages) { %>
    <div class="alert alert-<%= [key] %>">
      <span><%= messages[key] %></span>
    </div>
  <% } %>
<% } %>
