<%- include('partials/_header') %>

<div class="container">
  <button type="button" class="btn btn-primary btn-lg">Register</button>
  <button type="button" class="btn btn-secondary btn-lg">Login</button>
</div>
</body>
</html>
