<%- include('partials/_header') %>

<div class="container">
<% if (!user_id) { %>
Welcome to our amazing website!!!
<br><br>
Register or login above!
<% } %>

<% if (user_id) { %>
Welcome back!!!
<% } %>
</div>

</body>
</html>
