<%- include('partials/_header') %>

<div class="container">
<form class="form-inline" method="POST" action="/login" >
<input type="text" style="width: 50%;" class="form-control" id="username" name="username" placeholder="Name">
<input type="submit" class="btn btn-primary" value="Login">
</form>
</div>
</body>
</html>
