<%- include('partials/_header') %>

    <div class="container">
      <h3>Register</h3>
      <form class="form-inline" method="POST" action="/users/register" >
        <label for="email">Please enter your email:</label>
        <input type="text" style="width: 40%;" class="form-control" id="email" name="email" placeholder="you@gmail.com"></input>
        <br>
        <br>
        <label for="password">Please choose a password:</label>
        <input type="password" style="width: 38%;" class="form-control" id="password" name="password"></input>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Register"></input>
      </form>
    </div>
  </body>
</html>
