<%- include('partials/_header') %>

<div class="container">
  <% if (user_id) { %>
  <form action="/urls" method="POST" style="margin:150px;" class="form-inline">
    <label for="longURL">Please enter a URL:</label>
    <input id="longURL" type="text" name="longURL" style="width: 50%;" class="form-control" placeholder="http://" style="width: 300px">
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
<% } %>
  <% if (!user_id) { %>
    Register or login above!
    <% } %>
</div>
</body>
</html>
