<%- include('partials/_header') %>

  <div class="container">
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    </div>
  </body>
  </html>
