<%- include('partials/_header') %>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Short Code</th>
        </tr>
      </thead>
      <tbody>
        <% for (key in urls) { %>
          <tr>
            <td><%= urls[key] %></td>
            <td><a href="#" target="#"><%= [key] %></a></td>
            <td><a href="#">Edit</a></td>       <!-- POST -->
            <td><a href="#">Stats</a></td>      <!-- GET -->
            <td><a href="#">Delete</a></td>     <!-- POST -->
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  </html>
